body{
    background-color: lightgoldenrodyellow;
}
h1{
    color: darkred;
}
hr{
    color: darkred;
}
img{
    width: 700px;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}
nav{
    background-color: rgb(235, 223, 223);
    width: 900px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    left: 250px;
}
ul{
    list-style: none;
    display: flex;
    position: absolute;
    left: 150px;

}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight:bold;
    font-size: larger;
    margin: 40px;
    
}
p{
    font-size: larger;
}
em{
    color: green;
    font-weight: bold;
}