body{
    background-color: #fafad2;
}
header{
    background-color: white;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}
li{
    font-size: xx-large;
}
h2{
    font-size: xx-large;
    margin: 0px;
    text-align: center;
}
p{
    font-size: x-large;
}
section{
    background-color: white;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 800px;
    height: 400px;
    margin-left: 300px;
    margin-bottom: 20px;
}
img{
    width: 100px;
    height: 100px;
    float: right;
    border: 2px solid brown;
    margin-right: 40px;
}
a{
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
